@font-face {
  font-family: 'github-octicons';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/github-octicons/github-octicons.eot');
  src: url('/fonts/github-octicons/github-octicons.eot#iefix') format('embedded-opentype'), url('/fonts/github-octicons/github-octicons.svg') format('svg'), url('/fonts/github-octicons/github-octicons.woff') format('woff'), url('/fonts/github-octicons/github-octicons.ttf') format('truetype');
}

.icon-octoface:before {
  content: '\f008';
  font-family: 'github-octicons';
}
