* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fdf6e3;
  color: #657b83;
  font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.colors {
  background-image: url(data:image/bmp;base64,Qk1OAAAAAAAAADYAAAAoAAAACAAAAAEAAAABABgAAAAAABgAAAAAAAAAAAAAAAAAAAAAAAAAAIm1FkvLLzLcgjbTxHFs0oommKEqAJmF);
  background-size: 100% 4px;
  height: 4px;
}

#wrapper {
  font-size: 20px;
  margin: auto;
  max-width: 780px;
  padding: 0 2em;
}

.site-header {
  margin: 2em 0;
  text-align: center;
}

a {
  color: #268bd2;
  text-decoration: none;
}

time {
  background-color: #eee8d5;
  border-radius: 2px;
  font-family: 'Courier New', monospace;
  font-size: 12px;
  padding: 3px 6px 2px;
  vertical-align: middle;
}

.post {
  text-align: center;
}

.post-header {
  margin: 2em 0;
}

.post-title {
  color: #b58900;
  position: relative;
  text-shadow: 0 1px #eee8d5;
}

.post-title:before {
  border-top: 1px dotted #b58900;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
}

.post-title span {
  background-color: #fdf6e3;
  display: inline-block;
  padding: 0 0.5em;
}

.post-title a {
  color: inherit;
}

.post-content {
  font-family: FF, Georgia, sans-serif;
  line-height: 1.5em;
  text-align: justify;
}

code {
  background-color: #eee8d5;
  color: #586e75;
  font-family: Inconsolata-g, Consolas, monospace;
}

.highlight {
  font-size: 0.6em;
  line-height: 1.5em;
  overflow: auto;
  padding: 10px;
  text-align: left;
}

.highlight pre {
  margin: 0;
}

.highlight code {
  background-color: inherit;
  color: inherit;
}

.site-footer {
  border-top: 1px dotted;
  color: #657b83;
  margin: 2em 0 0 0;
  padding: 2em 0;
  text-align: center;
}

.site-footer i {
  font-size: 32px;
}

.site-footer a {
  color: #657b83;
  margin: 0 10px;
}

.site-footer a:hover {
  color: #586e75;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  #wrapper {
    font-size: 16px;
  }
}