:root {
  --monospace-font: Consolas, Menlo, monospace;
  --sans-serif-font: Avenir Next, Avenir, Segoe UI, Helvetica Neue, sans-serif;
  --serif-font: Georgia, sans-serif;
}

body {
  background: var(--solarized-base3);
  color: var(--solarized-base01);
  font-family: var(--sans-serif-font);
}

hr {
  border: 0;
  border-top: 1px solid var(--solarized-base00)30;
  margin: 0;
}

.justify {
  text-align: justify;
}

.lh-copy {
  line-height: 1.75;
}

.margin-auto {
  margin: auto;
}

.serif {
  font-family: var(--serif-font);
}

.logo,
.logo svg {
  display: block;
  height: 48px;
  width: 32px;
}

.PostContent img {
  max-width: 100%;
}

.PostContent code {
  color: var(--solarized-magenta);
  font-size: 0.875em;
  word-break: break-word;
}

.PostContent h3:not(:hover) .anchor {
  display: none;
}

.PostContent h3 {
  display: flex;
}

.anchor {
  order: 1;
  padding-left: .5rem;
  text-decoration: none;
}

.anchor:before {
  content: '#';
}

.anchor:hover {
  color: var(--solarized-blue);
  text-decoration: underline;
}

.editor {
  font-size: .875rem;
  margin: 0;
  overflow: auto;
  padding: .875rem;
}

@media only screen and (max-width: 568px) {
  :root {
    font-size: 12.8px;
  }
}
