code,
pre {
  font-family: consolas, monospace;
}

.Post-content > p > code {
  color: var(--solarized-magenta);
  font-size: 0.9em;
  word-break: break-word;
}

.editor {
  font-size: 0.7rem;
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  padding: 10px;
  text-align: left;
}

@import "syntax";
