@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'),
         url('/fonts/vollkorn-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: local('Vollkorn Italic'),
         url('/fonts/vollkorn-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 500;
  src: local('Vollkorn Medium'),
         url('/fonts/vollkorn-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 500;
  src: local('Vollkorn Medium Italic'),
         url('/fonts/vollkorn-mediumitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Medium'),
         url('/fonts/vollkorn-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: local('Vollkorn Medium Italic'),
         url('/fonts/vollkorn-mediumitalic-webfont.woff') format('woff');
}
