<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css">
    <link rel="stylesheet" href="/css/github.css">
  </head>
  <body id="top">
    <div class="colors"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    <div id="wrapper">
      <header class="site-header">
        <a href="/"><img src="/images/ness.gif"></a>
      </header>

      {{content}}

      <footer class="site-footer">
        <a href="/"><i class="icon-home"></i></a>
        <a href="#top"><i class="icon-chevron-up"></i></a>
        <a href="http://twitter.com/kentor"><i class="icon-twitter"></i></a>
        <a href="http://github.com/kentor"><i class="icon-octoface"></i></a>
      </footer>
    </div>
  </body>
</html>
